@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme CSS Variables */
  --color-white: 0 0% 100%;
  --color-primary: 193 82% 31%;
  --color-secondary: 345 83% 41%;
  --color-gray-100: 220 14% 96%;
  --color-gray-200: 220 13% 91%;
  --color-gray-300: 216 12% 84%;
  --color-gray-400: 218 11% 65%;
  --color-gray-500: 220 9% 46%;
  --color-gray-600: 215 14% 34%;
  --color-gray-700: 217 19% 27%;
  --color-gray-800: 215 28% 17%;
  --color-gray-900: 221 39% 11%;
}

/* Global Styles */
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

#___theSSHGuy {
  /* Create a stacking content for the React app to ensure
   * that any portals are always on top of other content.
   */
  isolation: isolate;
}

html,
body,
#___theSSHGuy {
  height: 100%;
  margin: 0;
}

body {
  color: hsl(var(--color-gray-900));
}

p {
  margin: 1.5rem 0;
}

/* Custom Layers */
@layer components {
  .btn-primary {
    @apply mt-4 rounded border border-gray-900 bg-primary py-2 px-4 text-white hover:bg-gray-500 focus:bg-gray-500 active:bg-gray-700 disabled:bg-gray-300;
  }
}

@layer utilities {
  .clamp-width {
    /* Set the clamp variables as a style prop where it's used */
    width: clamp(var(--min-clamp, 0), var(--ideal-clamp, 0), var(--max-clamp, 0));
    max-width: 100%;
  }
}
