@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Rubik_400_italic_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Rubik_400_italic_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Rubik_600_italic_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Rubik_600_italic_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Rubik_400_normal_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Rubik_400_normal_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Rubik_600_normal_latin_ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Rubik_600_normal_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  /* Theme CSS Variables */
  --color-white: 0 0% 100%;

  --color-gray-50: 210, 20%, 98%;
  --color-gray-100: 220 14% 96%;
  --color-gray-200: 220 13% 91%;
  --color-gray-300: 216 12% 84%;
  --color-gray-400: 218 11% 65%;
  --color-gray-500: 220 9% 46%;
  --color-gray-600: 215 14% 34%;
  --color-gray-700: 217 19% 27%;
  --color-gray-800: 215 28% 17%;
  --color-gray-900: 221 39% 11%;

  --color-primary-50: 183, 100%, 96%;
  --color-primary-100: 185, 96%, 90%;
  --color-primary-200: 186, 94%, 82%;
  --color-primary-300: 187, 92%, 69%;
  --color-primary-400: 188, 86%, 53%;
  --color-primary-500: 189, 94%, 43%;
  --color-primary-600: 192, 91%, 36%;
  --color-primary-700: 193 82% 31%;
  --color-primary-800: 194, 70%, 27%;
  --color-primary-900: 196, 64%, 24%;

  --color-secondary: 345 83% 41%;
}

/* Global Styles */
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

#___theSSHGuy {
  /* Create a stacking content for the React app to ensure
   * that any portals are always on top of other content.
   */
  isolation: isolate;
}

html,
body,
#___theSSHGuy {
  height: 100%;
  margin: 0;
}

body {
  color: hsl(var(--color-gray-900));
}

/* Custom Layers */
@layer components {
  .btn-primary {
    @apply mt-4 rounded border border-gray-900 bg-primary py-2 px-4 text-white hover:bg-gray-500 focus:bg-gray-500 active:bg-gray-700 disabled:bg-gray-300;
  }
}

@layer utilities {
  .clamp-width {
    /* Set the clamp variables as a style prop where it's used */
    width: clamp(
      var(--min-clamp, 0),
      var(--ideal-clamp, 0),
      var(--max-clamp, 0)
    );
    max-width: 100%;
  }
}
